@import '../../variables.scss';

.navContainer{
    // background-color: $colour-primary-pink;
    height: 7vh;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    align-items: center;
    border-radius: 0px 0px 40px 40px;
    // color: $colour-primary-grey;
}

.homeBtn {

}

.addBtn {

}