@import '../../variables.scss';

.navContainer{
    height: 7vh;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    align-items: center;
    border-radius: 0px 0px 40px 40px;
}


.icons {
    width: 40px;
    height: 40px;
    color: $colour-one;
}